<footer class="site-footer" style="border-top: 20pt;">
  <div class="foot">
    <div class="menufoot">

        <a href="{{ "/about" | absURL }}">
          About
        </a> |
        <a href="{{ "/contact" | absURL }}">
          Contact
        </a> |     
        <a href="{{ "/copyright" | absURL }}">
          Copyright
      </a> |       
        <a href="{{ "/dmca" | absURL }}">
          DMCA
        </a> |     
       <a href="{{ "/privacy" | absURL }}">
       Privacy Police
       </a>
     
    
  </div>
  </div>
<div class="foot">
    <p>
      <strong>This Theme</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>
{{ partial "jscust.html" . }}
