
{{ with .Site.Params.tags }}
{{ $related := .Site.RegularPages.Related . | first 8 | uniq }}
{{ with $related | uniq }}
<h3>Related Posts</h3>
<ul class="related-posts no-list-style">
  {{ range . }}
  <li class="related-posts__item">
    <a href="{{ .Permalink }}">
      <div class="related-posts__thumbnail">
{{ $thumbnaily :=  .Params.thumbnail }}
{{ $thumbnail := replace $thumbnaily ".jpg" ".webp" }}
<img data-src="{{ $thumbnail }}" class="lazyload" alt="{{.Title }}" width="680" height="480" style="width:100%; border: none;
  border-radius:12px; box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.16);">
      </div>
    <div class="related-posts__title">
      {{ .Title }}
    </div>
    </a>
    <time class="publish-time-article" datetime="{{ .PublishDate }}">{{ .PublishDate.Format "January 2006" }}</time>
  </li>
  {{ end }}
</ul>
{{ end }}

{{ else }}
{{ $related := shuffle .Site.RegularPages | first 8 | uniq }}
{{ with $related | uniq }}
<h3>Related Posts</h3>
<ul class="related-posts no-list-style">
  {{ range . }}
  <li class="related-posts__item">
    <a href="{{ .Permalink }}">
      <div class="related-posts__thumbnail" style="width:100%; border:none;
  border-radius:12px; box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.16);">
{{ $thumbnaily :=  .Params.thumbnail }}
{{ $thumbnail := replace $thumbnaily ".jpg" ".webp" }}
<img data-src="{{ $thumbnail }}" class="lazyload" alt="{{.Title }}" width="680" height="480" style="width:100%; border: none;
  border-radius:12px; box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.16);">
      </div>
    <div class="related-posts__title"   >
      {{ .Title }}
    </div>
    </a>
    <time class="publish-time-article" datetime="{{ .PublishDate }}">{{ .PublishDate.Format "January 2006" }}</time>
  </li>
  {{ end }}
</ul>
{{ end }}
{{ end }}






